@model ForecastQueryInfo
@{
	ViewBag.Title = "Forecasts";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
	<div class="city-title">
		<h3>@Model.City.Name, @Model.City.Country</h3>
	</div>
</div>
<div class="row">
	<div class="panel">
		<div class="panel-body history-panel">
			@foreach (var f in Model.Forecasts)
			{
				<div class="row">
					<div>
						<h4>@f.ForecastTime</h4>
					</div>
					<div>
						<h4>@f.WeatherState, @f.WeatherDescription</h4>
					</div>
					<div>
						<h4>@f.MinTemperature C - @f.MaxTemperature C</h4>
					</div>
				</div>
			}
		</div>
	</div>
</div>


