@model List<ForecastQueryInfo>
@{
	ViewBag.Title = "Queries";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
	@using (Html.BeginForm("Queries", "History"))
	{
		<div class="city-filter">
			<input name="cityName" type="text" class="form-control" placeholder="Filter: city name">
			<button class="btn" type="submit">Show</button>
			<div class="btn">@Html.ActionLink("All", "Queries", "History")</div>
		</div>
	}
</div>

<div class="row">
	<div class="panel">
		<div class="panel-body history-panel">
			@foreach (var q in Model)
			{
				<div class="row">
					<div>
						<h4>@q.QueryTime.ToString()</h4>
					</div>
					<div>
						<h4>@q.City.Name, @q.City.Country</h4>
					</div>
					<div class="btn">
						@Html.ActionLink("Forecasts", "Forecasts", new { queryId = q.Id })
					</div>
				</div>
				<hr />
				}
		</div>
	</div>
</div>


