@model ILongForecast

@{
	ViewData["Title"] = $"Daily forecast in {Model.City.Name}";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row text-center">
	<div class="col-lg-4 col-lg-offset-4">
		<h2>@Model.City.Name, @Model.City.Country</h2>
	</div>
</div>

<div class="row">
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="text-center list-inline panel-default">
				<div class="col-lg-4">
					@Html.ActionLink("Current day", "Weather", "Forecast", new { city = Model.City.Name }, null)
				</div>
				<div class="col-lg-4">
					@Html.ActionLink("Three days", "Hourly", "Forecast", new { city = Model.City.Name }, null)
				</div>
				<div class="col-lg-4">
					@Html.ActionLink("Seven days", "Daily", "Forecast", new { city = Model.City.Name }, null)
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">

	@{
		foreach (var d in Model.DayForecasts)
		{
			var weatherIco = $"/Content/images/icon/{d.Weather.Icon}.svg";

			<div class="container">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3>
							@d.ForecastTime.ToLongDateString()
						</h3>
						<div class="container">
							<div class="row">
								<img src=@weatherIco />
								@d.Weather.Description
							</div>
						</div>
					</div>
					<div class="panel-body">
						<div class="container-fluid">
							<div class="row text-center">
								<div class="col-lg-4">
									<h3>Morning temperature</h3>
									<p>@d.MorningTemperature C</p>
								</div>
								<div class="col-lg-4">
									<h3>Day temperature</h3>
									<p>@d.DayTemperature C</p>
								</div>
								<div class="col-lg-4">
									<h3>Evening temperature</h3>
									<p>@d.EveningTemperature C</p>
								</div>
							</div>
							<hr/>
							<div class="row">
								<div class="col-lg-offset-3 col-lg-3">
									Wind: @d.Wind.Speed m/s
								</div>
								<div class="col-lg-offset-3 col-lg-3">
									Humidity: @d.MainMeathurements.Humidity
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		}
	}
		
	</div>
</div>



