@model IMultipleForecast

@{
	ViewData["Title"] = $"Daily forecast in {Model.City.Name}";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
	<div class="city-title">
		<h3>@Model.City.Name, @Model.City.Country</h3>
	</div>
</div>
<div class="row">
	<div class="panel-body forecast-toggle">
		@Html.ActionLink("current day", "Weather", "Forecast", new { city = Model.City.Name }, null)
		@Html.ActionLink("three days", "Hourly", "Forecast", new { city = Model.City.Name }, null)
		@Html.ActionLink("seven days", "Daily", "Forecast", new { city = Model.City.Name }, null)
	</div>
</div>

@{
	foreach (var d in Model.SingleForecasts)
	{
		var weatherIco = $"/Content/images/icon/{d.WeatherIcon}.svg";

		<div class="row">
			<div class="panel">
				<div class="panel-header">
					@d.ForecastTime.ToLongDateString()
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="weather-icon">
							<img src=@weatherIco />
								<h3>@d.WeatherDescription</h3>
						</div>
						<div>
							<h3>Morning temperature</h3>
							<p>@d.MorningTemperature C</p>
						</div>
						<div>
							<h3>Day temperature</h3>
							<p>@d.DayTemperature C</p>
						</div>
						<div>
							<h3>Evening temperature</h3>
							<p>@d.EveningTemperature C</p>
						</div>
						<div>
							<h3>Wind:</h3>
							<p>@d.WindSpeed m/s</p>
						</div>
						<div>
							<h3>Humidity:</h3>
							<p>@d.Humidity</p>
						</div>
					</div>
					<hr />
				</div>
			</div>
		</div>

	}
}





