
@model ICurrentWeather
@{
	ViewData["Title"] = $"Current Weather in {Model.City.Name}";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
	<div class="city-title">
		<h3>@Model.City.Name, @Model.City.Country</h3>
	</div>
</div>
<div class="row">
	<div class="panel-body forecast-toggle">
		@Html.ActionLink("current day", "Weather", "Forecast", new { city = Model.City.Name }, null)
		@Html.ActionLink("three days", "Hourly", "Forecast", new { city = Model.City.Name }, null)
		@Html.ActionLink("seven days", "Daily", "Forecast", new { city = Model.City.Name }, null)
	</div>
</div>
<div class="row">
	<div class="panel">
		<div class="panel-header">
			@Model.ForecastTime.ToLongDateString()
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="weather-icon">
					@{
						var weatherIco = $"/Content/images/icon/{Model.WeatherIcon}.svg";
					}
					<img src=@weatherIco />
					<h4>@Model.WeatherDescription</h4>
				</div>
				<div class="weather-description">
					<h3>@Model.WeatherState, @Model.MinTemperature C- @Model.MaxTemperature C</h3>
				</div>
			</div>
			<hr />
			<div class="row">
				<div class="weather-icon">
					<img src="~/Content/images/icon/icon-1.svg" />
				</div>
				<div class="weather-description">
					<h3>Sunrise at @Model.Sunrise.TimeOfDay</h3>
					<h3>Sunset at @Model.Sunset.TimeOfDay</h3>
				</div>
			</div>
			<hr />
			<div class="row">
				<div class="weather-icon">
					<img src="~/Content/images/icon/icon-7.svg" />
				</div>
				<div class="weather-description">
					<h3>Wind Speed: @Model.WindSpeed m/s</h3>
					<h3>Humidity: @Model.Humidity</h3>
					<h3>Pressure: @Model.DefaultPressure</h3>
				</div>
			</div>
			<hr />
		</div>
	</div>
</div>