<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Bare - Start Bootstrap Template</title>

	<link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">

	<link rel="stylesheet" href="~/Content/css/main.css" />

</head>

<body>
	<header>
		<div class="logo">
			<h2>Weather<span>App</span></h2>
		</div>
		<div class="navbar">
			@Html.ActionLink("Home", "Index", "Home")
			@Html.ActionLink("Cities", "Index", "SelectedCities")
			@Html.ActionLink("History", "Queries", "History")
		</div>
	</header>

	<div class="main-content">
		<div class="container">
			<div class="row">
				<div class="city-search">
				@using (Html.BeginForm("Weather", "Forecast"))
				{
					<input name="city" type="text" placeholder="Find your city...">
				}
				</div>
			</div>
			<div class="row">
				<div class="default-cities-list">
					@Html.ActionLink("Kyiv", "Weather", "Forecast", new { city = "Kyiv" }, null)
					@Html.ActionLink("Lviv", "Weather", "Forecast", new { city = "Lviv" }, null)
					@Html.ActionLink("Odessa", "Weather", "Forecast", new { city = "Odessa" }, null)
					@Html.ActionLink("Kharkiv", "Weather", "Forecast", new { city = "Kharkiv" }, null)
					@Html.ActionLink("Dnipropetrovsk", "Weather", "Forecast", new { city = "Dnipropetrovsk" }, null)
				</div>
			</div>
			@RenderBody()
		</div>
	</div>

	<footer>
		<div class="about-company">
			<h4>About</h4>
			<p>Something text about company</p>
		</div>
		<div class="contacts">
			<h4>Contacts</h4>
			<p>Email: example@e.mail</p>
			<p>Skype: example</p>
		</div>
	</footer>
</body>
</html>